extends layout 

block content 
  .detail_page  
    h1=player.name
    ul
      if (!team==null) 
        li=NoTeam 
      else 
        li #[strong Team]: !{ " "+team[0].name}
      li=player.birthday_formatted 
      li positon: !{player.position.toUpperCase()}
      li goals: !{player.goals}
    
  a(href=player.url+'/delete') Delete player 
  hr
  a(href=player.url+'/update') Update player 
  