extends layout 
block content 
  h1=title 
  form(action="", method="post") 
    if(undefined==player_team)
      input(type='hidden' name='old_team', requried='true',value=undefined)
    else
      input(type='hidden' name='old_team', requried='true',value=player_team._id)
    label(for='first_name') First Name:
    input(type='text' name='first_name' placeholder='First Name (John)' required='true' value=(undefined===player ?'': player.first_name))
    label(for='last_name') Last Name:
    input(type='text' name='last_name' placeholder='Last Name (Smith)' required='true' value=(undefined===player ?'': player.last_name))
    label(for="teams") Select a team: 
    select(name="teams" required='true')
      if(undefined==player_team)
        option(value=undefined) Choose a Team
      else 
        option(value=player_team._id) !{player_team.name}
      each team in teams
        option(value=team._id) !{team.name}
    label(for="date_of_birth") Date of Birth 
    input(type='date' name='date_of_birth' required='true' value=(undefined===player ?'':birthday))
    label(for="position") Position 
    input(type="text", placeholder='D/M/S' name="position" required='true' value=(undefined===player ?'':player.position))
    hr
    label(for="goals") Goals 
    input(type="number", name="goals" min="0" value=(undefined===player ?  0: player.goals))
    hr
    button(type="submit") Submit  

  if errors
    ul 
      for error in errors 
        li!=error.msg   