extends layout 

block content 
  h1=title 


  form(method='POST' action='')
    label(for='name') Team Name:
    input(type='text' placeholder ='Team Name' name='name' required='true' value=(undefined===team ? '': team.name))
    select(name="leagues" required='true')
      if(undefined==team_league)
        option(value=undefined) Choose a League 
      else 
        option(value=team_league._id) !{team_league.name}
      each league in leagues 
        option(value=league._id) !{league.name}  
    hr
    label(for='wins') Wins: 
    input(type='number' name='wins' min=0 value=(undefined===team ? 0:team.win))

    label(for='losses') Losses: 
    input(type='number' name='losses' min=0 value=(undefined===team ? 0:team.loss))
    hr
    button(type="submit") Submit

  if errors
    ul 
      for error in errors 
        li!=error.msg